@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/*css vars*/

:root {
    --first-background: #f8f8ff;
    --second-background: #f8f8ff;
    --main-txt-color: #2e2e2e;
    --nav-h-color: #008080;
    --footer-bg: #131212;
    --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --nav-h-font: "Montserrat" sans-serif;
}

* {
    font-size: 10px;
    color: var(--main-txt-color);
    background-color: var(--first-background);
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


/*nav bar*/

h1,
li,
#nav-link {
    font-size: 3rem;
    font-family: var(--nav-h-font);
    font-weight: 500px;
    color: var(--nav-h-color);
    text-decoration: none;
    list-style: none;
}

h1 {
    color: var(--main-txt-color);
    font-size: 2rem;
    font-family: var(--font);
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 10%;
    margin: auto;
    height: 30px;
    width: 100%;
    box-shadow: 0 1px 4px #6ca8a8;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

#nav-link {
    position: relative;
}

#nav-link::after {
    content: "";
    position: absolute;
    background-color: var(--nav-h-color);
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

#nav-link:hover:after {
    width: 100%;
}


/*nav bar end*/

.main {
    width: 90%;
    margin: auto;
}


/*title*/

#title {
    color: var(--nav-h-color);
    font-size: 3.5rem;
    font-family: var(--nav-h-font);
    text-align: center;
    margin: 25px;
    position: relative;
}

#title::after {
    content: "";
    position: absolute;
    background-color: var(--nav-h-color);
    width: 15vw;
    height: 3px;
    left: 41%;
    bottom: -10px;
}

#p {
    font-size: 2rem;
    text-align: center;
    font-family: var(--font);
    margin-bottom: 10px;
}


/* iframe */

.Title {
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    grid-template-rows: auto;
    grid-column-gap: 50px;
    justify-items: center;
    justify-content: center;
    margin: 30px auto;
}

.title {
    background-color: var(--second-background);
    width: 100%;
    height: 400px;
    box-shadow: 10px 10px 5px grey;
    object-fit: cover;
    border-radius: 20px;
}

.title:hover {
    transform: scale(1.1);
}

/*certificate*/

.cert {
    width: 87%;
    height: 350px;
    border-radius: 5px;
    box-shadow: 7px 7px 5px grey;
    transition: 1.5s;
}

.cert:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#img-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: 40px 0px;
}


/* footer */

.contacts {
    display: block;
    background-color: var(--footer-bg);
    margin-top: 30px;
    break-after: always;
    padding: 15px;
}

footer {
    background-color: var(--footer-bg);
}

i {
    background-color: var(--footer-bg);
    text-align: center;
    font-size: 45px;
    padding: 42px;
    transition: 1.2s;
}

i:hover {
    color: var(--nav-h-color);
    cursor: pointer;
}


/* media queries*/

@media only screen and (max-width: 800px) {
    .main {
        width: 95%;
    }
}

@media only screen and (max-width: 1200px) {
    #img-div {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: ". s1 ." ". s2 ." ". f .";
        grid-row-gap: 25px;
        justify-items: center;
        margin: 40px;
    }
    #sololearn1 {
        grid-area: s1;
    }
    #sololearn2 {
        grid-area: s2;
    }
    #fcc {
        grid-area: f;
    }
    .cert {
        width: 60%;
        height: 450px;
    }
}